<!DOCTYPE html>
<html>
  <head>
    <title>L12019</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-bold">Name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <span class="p-2 text-dark"><%= link_to 'Home', root_path %></span>
    <span class="p-2 text-dark"><%= link_to 'Domoy', root_path %></span>
    <span class="p-2 text-dark"><%= link_to 'Back', root_path %></span>
  </nav>
  
</div>

    <%= yield %>
  </body>
</html>